---
// src/components/Comments.astro
---
<div id="giscus-container">
   <script src="https://giscus.app/client.js"
        data-repo="ELOnARTE/astro"
        data-repo-id="R_kgDOO8yEnA"
        data-category="Ideas"
        data-category-id="DIC_kwDOO8yEnM4CsArK"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="transparent_dark"
        data-lang="pt"
        crossorigin="anonymous"
        async>
</script>
</div>

<style>
    #giscus-container {
        margin-top: 4rem;
    }
</style>