---
// src/components/Hero.astro
import { Image } from 'astro:assets';
import heroImage from '../assets/helo.webp'; 
---
<section id="hero" class="hero">
    <h2>Boas-vindas a este<br>elegante elo na arte<br>inspirada!</h2>
    <p>Conectando arte, terapia e tecnologia para realizar, inspirar, incluir...</p>
    
    <Image 
        src={heroImage} 
        alt="Logotipo da ELOnARTE" 
        class="hero-image"
        width={500}
        height={500}
        quality={'mid'}
    />

    <a href="#servicos" class="btn">Conheça Nossos Serviços</a>
</section>

<style>
.hero {
    padding: 3rem 1.5rem;
    margin-bottom: 4rem;
    border-radius: 12px;
    border-left: 4px solid;
    text-align: center;
    background: linear-gradient(to bottom, var(--color-bg), var(--color-bg-light), var(--color-bg));
    border-color: var(--color-text-primary);
}

.hero h2 {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.hero p {
    font-size: 1.15rem;
    color: var(--color-text-secondary);
    max-width: 700px;
    margin: 0 auto 2rem;
}

.hero-image {
    display: block; 
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 2rem auto;
    border-radius: 50%;
    box-shadow: 0 0 25px rgba(153, 85, 187, 0.3);
}

.hero .btn {
    /* Estilo do botão fantasma */
    display: inline-block;
    padding: 0.75rem 2rem;
    border-radius: 8px;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
    margin-top: 1rem; /* Adiciona um espaço acima do botão */

    /* Novo estilo sutil */
    background-color: transparent;
    border: 2px solid var(--color-bg-light); /* Borda com a cor de fundo mais clara */
    color: var(--color-text-secondary); /* Texto com a cor secundária */
    transition: all 0.3s ease;
}

.hero .btn:hover {
    background-color: var(--color-bg-light); /* Fundo preenchido no hover */
    color: var(--color-text-primary); /* Texto principal no hover */
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

@media (max-width: 768px) {
    .hero h2 {
        font-size: 1.75rem;
    }
    .hero p {
        font-size: 1.15rem;
    }
}
</style>