---
// src/layouts/Layout.astro
import '../styles/global.css';
import Header from '../components/Header.astro'; // 1. Importa o Header
import Footer from '../components/Footer.astro'; // 2. Importa o Footer
import Seo from '../components/Seo.astro';

//... outros imports
interface Props {
  title?: string;
  description?: string;
  image?: string;
}
// ADICIONE ESTA LINHA PARA EXTRAIR AS PROPRIEDADES
const { title, description, image } = Astro.props;
---
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preload" href="/fonts/source-serif-4-v13-latin-regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/source-serif-4-v13-latin-700.woff2" as="font" type="font/woff2" crossorigin>

    <Seo title={title} description={description} image={image} />
    
    <!-- Seus links de Favicon, etc. -->
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="manifest" href="/images/site.webmanifest">
</head>
<body>
    <Header /> {/* <-- 3. Adiciona o componente Header aqui */}
    
    <main>
        <slot /> <!-- O conteúdo da sua página será injetado aqui -->
    </main>

    <Footer /> {/* <-- 4. Adiciona o componente Footer aqui */}
</body>
</html>